[build]
  base = "client"
  command = "npm install && npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://claude-pofd.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
